.bannerContainer {
  width: 100%;
  height: 600px;
  background-image: url('../../assets/images/RFID Technology Design Illustration.png');
  background-size: cover;       /* fills the area, may crop */
  background-repeat: no-repeat;
  background-position: center;  /* centers the image nicely */
}



.verticalCard {
    margin: 0 auto;
    width: 1300px;
    display: flex;
    justify-content: space-between;
}
