footer {
  height: 300px;
  border: 1px solid white;
  display: block;
}

.content {
  width: 1200px;
  border: 1px solid white ;
  margin: 0 auto;   
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  width: 150px;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
  display: block;   
  border: 1px solid white;
}

.contact {
  display: flex;
  flex-direction: column;
}

button {
  width: fit-content;
}

.title {
  font-family: 'Rubik-Bold';
  font-size: 20px;
  margin-top: 5px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 0px;
}