.profile-card {
  width: 300px;
  height: 460px;
  border-radius: 16px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;

}

.profile-card:hover {
  transform: scale(1.01);
}

.profile-card-image {
  height: 180px;
  width: 180px;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
  display: block;       /* make it a block-level element */
  margin: 0 auto;   
  border-radius: 90px;
}

.profile-card-content {
  height: 50%;
  padding: 24px;
  overflow: hidden;
  position: relative;
}

.profile-card-title {
  font-family: 'Rubik-Bold';
  font-size: 1.25rem;
  margin-bottom: 12px;
  text-align: center;
  color: white
}
::-webkit-scrollbar {
  display: none
}

.profile-card-description {
  font-family: 'Rubik-Regular';
  font-size: 0.9rem;
  color: #f9f9f9dc;
  line-height: 1.5;
  max-height: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

.profile-card:hover .profile-card-description {
  -webkit-line-clamp: unset;
  height: auto;
  overflow-y: auto;
  padding-right: 4px;
}